.cat-wrapper {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-gap: 120px;
  margin-top: 50px;
  text-align: center;
  margin-bottom:100px;
}

@media screen and (max-width: 875px) {
  .cat-container {
    grid-template-columns: 1fr 1fr;
  }
}

.cat-card {
  width: 200px;
  height: 200px;
  margin-bottom: 77px;
}

.cat-card img {
  width: 100%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}

.cat-card img:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.cat-card h1 {
  font-family: poppins;
  font-size: 20px;
  text-transform: uppercase;
  width: 200px;
  color:black;
}

.cat-wrapper h2 {
  font-family: poppins;
  font-size: 40px;
  text-transform:uppercase;
  padding-left:20px;
  padding-right:20px;
  color:white;
  background-color:#00C2C9;
}
