.navbar {
    background-color: #5C1EB2;
    height:60px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding-right:1%;
    padding-left: 1%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

a, a:active, a:visited {
    color:white;
    font-family: poppins;
    font-size: 18px;
    font-weight:700;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing:1px;
    padding-left:10px;
    padding-right:15px;
    padding-bottom:5px;
    transition: all 0.2s ease-in-out
}
    

a:hover, a:active:hover, a:visited:hover {
    color:#00C2C9;
}

button {
    color:black;
    background-color: #F7D600;
    border:0;
    font-family:poppins;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:700;
    font-size:18px;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
    border-radius:4px;
    transition: all 0.2s ease-in-out;
    margin-right:10px;

}

button:hover {
    background-color: #5C1EB2;

}

form {
    display:inline;
    padding-left:10px;
}

input {
    border:0;
    height:25px;
    width:200px;
    font-family:archivo;
    padding-left:5px;
    border-radius:4px;
}

.left-nav #create button,  {
    color:#F7D600;
    background-color:transparent;
    border:0;
    font-family:poppins;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:700;
    font-size:18px;
    padding-left:6px;
    transition: all 0.2s ease-in-out;
    margin-left:5px;
}

.left-nav button:hover {
   color: #00C2C9;
}

span {
    font-size:20px;
}