.navbar {
    background-color: #5C1EB2;
    height:60px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding-right:1%;
    padding-left: 1%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}

a, a:active, a:visited {
    color:white;
    font-family: poppins;
    font-size: 18px;
    font-weight:700;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing:1px;
    line-height:20;
    padding-left:10px;
    padding-right:15px;
    padding-bottom:5px;
    transition: all 0.2s ease-in-out
}
    

a:hover, a:active:hover, a:visited:hover {
    color:#00C2C9;
}

#search {
    color:#ffffff;
    background-color:transparent;
    border:0;
    font-family:poppins;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:700;
    font-size:20px;
    padding-top:5px;
    padding-left:20px;
    padding-right:10px;
    padding-bottom:5px;
    border-radius:4px;
    transition: all 0.2s ease-in-out;
    margin-right:10px;

}

#search:hover {
   color: #F7D600;
   cursor:pointer;

}

form {
    display:inline;
    padding-left:10px;
}

input {
    border:0;
    height:30px;
    width:400px;
    font-family:archivo;
    padding-left:5px;
    border-radius:4px;
}
#create{
    color:#000000;
    background-color:#F7D600;
    border:0;
    font-family:poppins;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:700;
    font-size:18px;
    padding-left:8px;
    transition: all 0.2s ease-in-out;
    margin-left:8px;
}

#create:hover {
   background-color: #00C2C9;
   cursor:pointer;
}

.icon {
    position:relative;
    top:5px;
    font-size:25px;
}

.plus {
    position:relative;
    top:2px;
    font-size:16px;
}