.qotd-wrapper {
    margin-left:5%;
    margin-right:5%;
    margin-top:50px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;


}

.qotd-container {
    min-width:300px;
    /* height:200px; */
    border-radius:10px;
    box-shadow: 0 0 20px rgb(235, 235, 235);
    margin-left:20px;
    margin-right:20px;
    margin-bottom:40px;
}

.qotd-content {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;
    margin-top:20px;
}

.qotd-content h1 {
    color:#00C2C9;
    width:auto;
    font-size:30px;

}

.qotd-content h2 {
    color:#5C1EB2;
    width:auto;
    font-size:20px;
    margin-bottom:10px;
    font-family:archivo;
    font-weight:500;

}

#take-quiz {
    position:relative;
    top:3px;
    font-size:18px;
}