.qotd-wrapper {
    margin-left:5%;
    margin-right:5%;
    margin-top:50px;
    display:flex;
    justify-content: center;


}

.qotd-container {
    width:50%;
    height:200px;
    /* background-color: #00C2C9; */
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    box-shadow: 0 0 20px rgb(235, 235, 235);
}

.qotd-container h1 {
    color:#00C2C9;
    width:auto;
    font-size:40px;

}

.qotd-container h2 {
    color:#5C1EB2;
    width:auto;
    font-size:25px;
    margin-bottom:20px;

}

#take-qotd {
    position:relative;
    top:3px;
    font-size:18px;
}